openapi:
  name: ${spring.application.name}
  title: ${spring.application.name}
  version: '@project.version@'
spring:
  application:
    name: api-billing-data-collector
  cache:
    cache-names: partyId, kpiData
    caffeine:
      # default setting used if no override has been defined
      spec: maximumSize=100,expireAfterWrite=5m
      # overriding of default setting for specific caches
      spec-overrides: 
        - cache-name:  kpiData
          spec: maximumSize=100, expireAfterWrite=30d
  flyway:
    enabled: false
  jpa:
    hibernate:
      ddl-auto: validate
scheduler:
  opene:
    cron:
      expression: '0 0 3 * * *'
    name: opene
    lock-at-most-for: PT5M
    maximum-execution-time: PT5M
  fallout:
    cron:
      expression: '0 0 4 * * *'
    name: fallout
    lock-at-most-for: PT5M
    maximum-execution-time: PT5M
  billing:
    cron: '0 0 */2 * * *'
    name: scheduled-billing
    shedlock-lock-at-most-for: PT30M
    maximum-execution-time: PT30M
  certificate-health:
    cron: '0 0 6 * * *'
    name: certificate-health
    warn-days-before-expiration: 15
    lock-at-most-for: PT5M
    maximum-execution-time: PT5M
    
falloutreport:
  recipients:
    - dummy@sundsvall.se
  sender: dummy@sundsvall.se
  sender-name: Billing Data Collector
  fallout-mail-template:
    subject: Fel vid hämtning/skapande av faktura-poster
    html-prefix: >
      <!DOCTYPE html>
      <html lang="en" xmlns="http://www.w3.org/1999/xhtml"><body>
    body-prefix: >
      <b>Följande problem har inträffat vid generering av faktura-poster (%s)</b>
      <p>
    list-prefix: <i>%s st. fel:</i><ul>
    list-item: >
      <li> familyId: %s, flowInstanceId: %s, requestId: %s</li>
    list-suffix: </ul>
    body-suffix: >
      <p>
        <b>Med vänlig hälsning <br/>
        <a href="mailto:%s">%s</a></b>
      </p>
    html-suffix: </body></html>
