integration:
  # OpenE integration
  open-e:
    base-url: http://localhost:${wiremock.server.port}/opene
    username: user
    password: p4ssw0rd
    connect-timeout: 1000
    read-timeout: 3000
    kundfaktura-formular-family-id: 358
  # Party integration
  party:
    base-url: http://localhost:${wiremock.server.port}/party
    oauth2:
      token-url: http://localhost:${wiremock.server.port}/token
      client-id: someClientId
      client-secret: someClientSecret
      authorization-grant-type: client_credentials
    connect-timeout: 1000
    read-timeout: 3000
  # BillingPreprocessor integration
  billing-preprocessor:
    base-url: http://localhost:${wiremock.server.port}/bpp
    oauth2:
      token-url: http://localhost:${wiremock.server.port}/token
      client-id: someClientId
      client-secret: someClientSecret
      authorization-grant-type: client_credentials
    connect-timeout: 1000
    read-timeout: 3000
  # Messaging integration
  messaging:
    base-url: http://localhost:${wiremock.server.port}/
    oauth2:
      token-url: http://localhost:${wiremock.server.port}/token
      client-id: someClientId
      client-secret: someClientSecret
      authorization-grant-type: client_credentials
    connect-timeout: 1000
    read-timeout: 3000
  # Contractintegration
  contract:
    base-url: http://localhost:${wiremock.server.port}/contract
    oauth2:
      token-url: http://localhost:${wiremock.server.port}/token
      client-id: someClientId
      client-secret: someClientSecret
      authorization-grant-type: client_credentials
    connect-timeout: 1000
    read-timeout: 3000
  # SCB
  scb:
    base-url: http://localhost:${wiremock.server.port}/scb
    connect-timeout: 1000
    read-timeout: 3000

scheduler:
  opene:
    cron:
      expression: '-'
  fallout:
    cron:
      expression: '-'
  billing:
    cron: '-'
    name: scheduled-billing
    shedlock-lock-at-most-for: PT5M
    maximum-execution-time: PT5M
falloutreport:
  recipients:
    - test@nowhere.com
    - test2@nowhere.com
spring:
  cache:
    type: none
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6:///ittest
  flyway:
    enabled: true
  jpa:
    properties:
      jakarta:
        persistence:
          schema-generation:
            create-source: metadata
            database:
              action: validate
            scripts:
              action: create
              create-target: target/database/generated-schema.sql
      hibernate:
        format_sql: true
        hbm2ddl:
          schema-generation:
            script:
              append: false
